h2{
  font-weight: 400;
  color: aliceblue;
}
span{
  font-weight: bold;
}
div{
  padding: .4rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a{
  text-decoration: none;
}
navcontainer{
  width: 100%;
}